section {
    width: 100%;
    /* height: 100vh; */
    margin-top: 0px;
}
#_home {
    scroll-margin-top: 64px;
}

.home {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 200px;
    font-size: 2em;
    display: flex;
    /* flex-wrap: wrap-reverse; */
    justify-content: space-between;
    align-items: center;
}
.name {
    font-size: 70px;
}   
.btn1 {
    width: 150px;
    height: 40px;
    font-size: 17px;
    font-weight:650;
    background-color: #32B531;
    color: black;
    border: 1px solid black;
    box-shadow: 0 0 10px #32B531;
    animation: slidetop 2s ease normal;
}
.btn1:hover {
    background-color: #28A426;
    color: black;
    border: 1px solid black;
    box-shadow: 0 0 10px #28A426;
}
.btn1:active {
    color: black !important;
    background-color: #1E8C1D !important;
    border:  1px solid black !important;
    box-shadow: 0 0 10px #1E8C1D !important;

}
.para {
    font-size: 23px;
    max-width: 30rem;
    width: 100%;
}
.image {
    background-image: url("./assets/Pranjal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 10em;
    width: 10em;
    border: 6px solid black;
    border-radius: 50%;
    box-shadow: 0 0 100px #32B531;
    animation: slideleft 2s ease backwards;
}
.slideRight {
    animation: slideright 2s ease forwards;
    
}
.slideLeft {
    animation: slideleft 2s ease backwards;
}
.typeWriter {
    color: #32B531;
    display: inline-block;
    text-shadow: 0 0 25px #32B531;
}
.line {
    display: none;
}

.dis-none-lg {
    display: none;
}

@keyframes slideright {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideleft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slidetop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@media(max-width:1140px) {
    .image{
        width: 7em;
        height: 7em;
    }
    .home{
        font-size: 30px;
        margin-right: 100px;
    }
    .para{
        font-size: 20px;
    }
    .name{
        font-size: 60px;
    }
}
@media(max-width:930px) {
    .home{
        /* margin-right: 20px; */
    }
}
@media(max-width:850px) {
    .image{
        /* width: 6em;
        height: 6em; */
    }
}
@media(max-width:740px) { 
    .home{
        /* margin-left: 75px; */
    }
    .name{
        font-size: 40px;
    }    
}      
@media(max-width:713px) {
    .home {
        text-align: center;
    }
    .custom-flex {
        justify-content: center !important;
    }
    .image {
        margin: auto;
    }
    .home {
        font-size: 25px;
    }
    .para {
        /* font-size: 15px; */
        /* font-weight: 400; */
    }
    /* .line {
        border-left: 1px solid #32B531;
        height: 500px;
        margin-left: 50%;
        margin-top: 50px;
        writing-mode: vertical-lr;
        text-orientation:upright;
        color: #32B531;
        display: inline;
    } */
    /* .btn:active {
        background-color: black !important;
        border:  1px solid black !important;
        box-shadow: 0 0 10px #32B531 !important;
    }
    .btn:hover {
        background-color: #32B531;
        box-shadow: 0 0 10px #32B531;
    } */
    .name {
        font-size: 30px;
    }
    
    /* .home {
        font-size: 20px;
        margin-left: 60px;
    } */

}
@media(max-width:818px) {
    .home {
        flex-wrap: wrap-reverse;
    }
    .dis-none-lg {
        display: block;
    }
    .dis-none-sm {
        display: none;
    }
    .custom-flex {
        display: flex;
        justify-content: space-between;
        align-items: center ;
    }

}
@media (max-width: 613px) {
   
}
@media (max-width: 770px) {
    .custom-flex {
        flex-wrap: wrap-reverse;
    }
}
@media (max-width: 580px) {
    .home {
        margin: 60px 40px !important;

    }
}
@media(min-width: 1800px) {
    .home {
        justify-content: space-around;
    }
}