section {
    width: 100%;
    /* height: 100vh; */
}
.skills {
    /* margin-left: 300px; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: ; */
    /* align-items:center; */
    margin-top: 60px;
    /* margin-left: 20px; */
    gap: 1rem;
    margin-left: 30px;
}
#_skills {
    scroll-margin-top: 45px;
}
.box {
    height: 200px;
    position: relative;
    margin-right: 10px;
}

.row {
    justify-content: center;
    align-items: center;
}

.outer {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 20px;
}
.inner {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.percentage {
    font-weight: 600;
    color: white;
    z-index: 1;
    text-align: center;
    color: #32B531  ;
    text-shadow: 0 0 10px #32B531;
}
circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
.ninety {
    animation: ninety 1s linear forwards;
} 
.eightyFive {
    animation: eightyFive 1s linear forwards;
}
.eighty {
    animation: eighty 1s linear forwards;
}
.hundred {
    animation: hundred 1s linear forwards;
}
.ninetyFive {
    animation: ninetyFive 1s linear forwards;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}
@keyframes ninety{
    100%{
        stroke-dashoffset: 44;
    }
}
@keyframes eightyFive{
    100%{
        stroke-dashoffset: 66;
    }
}
@keyframes eighty{
    100%{
        stroke-dashoffset: 88;
    }
}
@keyframes hundred{
    100%{
        stroke-dashoffset: 0;
    }
}
@keyframes ninetyFive{
    100%{
        stroke-dashoffset: 22;
    }
}
@media(max-width:1034px) {
    .box{
        width: 165px;
    }
}
@media(max-width:750px) {
    .skills {
        /* margin-left: 20px; */
        margin-top: 40px;
    }
    .box{
        width: 90px;
        margin-right: 78px;
    }
}
@media(max-width:680px) {
    #_skills {
        padding-top: 40px;
    }
}
